

p{
  color: azure; 
  font-family: serif;
}

body{
  background-color: pink;
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcjYydThmZ2pyc3BndzUwbmljbTc1Y3lxNTlmdTQ0bWs4OXhqcWRkMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/yaUG0KDAcIcWA/giphy.gif);
  background-repeat: round;
  background-attachment: scroll;
}

.box{
  margin: 0px, 10px;
  padding: 300px, 50px, 200px, 50px;
  position: static;
  border-style: groove;
  border-color: firebrick;
  border-width: 50px;
  z-index: 100; 
  

  h2{
  color: white;
  font-size: 3.6em;
}

  p{
  font-family: serif;
  font-size: 3.6em;
}
}

div.box2{
  color: white;
  background: black;
  padding: 100px;
  width: 150px;
  position:relative;

}

div.box3{
  position: static;
  background-color: indianred;
  width: 492px;
  padding: 100px;
  
   p{
    font-size: 1.2em;
  }
  
  h2{
    color: white;
  }
  
}